# `futurisys-ml-deploy/requirements.txt`

# runtime
fastapi>=0.95.0
pydantic>=2.2.0

# ML
pandas>=2.1.0
numpy>=1.26.0
matplotlib>=3.8.0
seaborn>=0.13.0
scipy>=1.11.0
scikit-learn>=1.5.0
category-encoders>=2.6.3
joblib>=1.3.0
xgboost>=2.0.0
lightgbm>=4.0.0
shap>=0.44.0
ydata-profiling>=4.6.0
jupyter>=1.0.0
notebook>=7.0.0
sweetviz
uvicorn>=0.30.0

# Hugging Face Space
streamlit>=1.32.0
altair>=5.2.0

# DB / env
psycopg2-binary>=2.9.6
python-dotenv>=1.0.0
requests>=2.31.0
sqlalchemy>=1.4
sqlalchemy-utils
psycopg[binary]

# quality & testing (dev tools included in requirements for simplicity)
pre-commit>=3.4.0
black>=23.1.0
isort>=5.12.0
flake8>=6.0.0
pytest>=7.4.0
pytest-cov
